.checkpoint-card-component{
    width: 150px;
    height: 150px;
    border-radius: 12px;
    text-align: center;
    
}
.cardItem {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}